{% extends 'dataApp/index.html' %}

{% block content %}

<div class="subfolder-list">

  <!-- <div class="search-bar">
    <form class="search" method="get">
      <input type="text" name="query" placeholder="Search Folders">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div> -->
  
  <div class="form-container">
    <div class="left">
    <form class="new" method="get" action="{% url 'databag' %}">
      <div class="form-row">
      <input type="search" name="search" placeholder="Search Folder">
    </div>
      <button type="submit">Search</i></button>
    </form>
  </div>
  <div class="right">
    <form class="new" method="post" action="{% url 'databag' %}">
        {% csrf_token %}
        <div class="form-row">
            {% for field in form %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="Create Folder" />
            {% endfor %}
        </div>
        <!-- Add more input fields here -->
        <button type="submit">Add</button>
    </form>
  </div>
</div>


  {% for subfolder in page_obj %}
  <div class="flex">
    <a href="{% url 'subfolder' subfolder.id %}"><i class="fa fa-folder-o" aria-hidden="true"></i>  {{ subfolder.name }}</a>
    <form method="post" action="{% url 'delete_subfolder' subfolder.id %}">
      {% csrf_token %}
      <button type="submit" onclick="return confirm('Are you sure you want to delete this subfolder and its files?')"><i class="fa fa-trash-o" style="font-size:24px;color:#D22B2B"></i></button>

    </form>
  </div>
  {% endfor %}
</div>
  
<!-- Pagination links -->
<div class="pagination">
  <span class="step-links">
    <a href="?page=1&search={{ search }}">&laquo; first</a>
    
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <span class="current-page">{{ num }}</span>
      {% else %}
        <a href="?page={{ num }}&search={{ search }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    
    <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}">last &raquo;</a>
  </span>
</div>
{% endblock %}