{% load json_filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataLockr</title>
    <link rel="stylesheet" href="{% static 'dataApp/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'dataApp/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>

      <a href="/" class="logo"><i class='bx bx-lock bx-burst' ></i> DataLockr</a>
      
      <!-- <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search Folder..." />
      </div> -->

      <a href="{% url 'logout' %}" class="Btn">
  
        <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
        
        <div class="text">Logout</div>
      </a>
  </nav>
    <div class="content">
      {% block content %}{% endblock %}
      <!-- Pagination links -->
      {% if show_div %}
      <div class="pagination">
        <span class="step-links">
          <a href="?page=1&search={{ search }}">&laquo; first</a>
          
          {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
              <span class="current-page">{{ num }}</span>
            {% else %}
              <a href="?page={{ num }}&search={{ search }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
          
          <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}">last &raquo;</a>
        </span>
      </div>
      {% endif %}
  </div>
    <script src="{% static 'dataApp/js/main.js' %}"></script>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
  {% load sweetify %}
  {% sweetify %}
</html>