<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p> If you already have an account, <a href="/login">login</a> instead.</p>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
</head>
<body>
    <section>
        <div class="container">
            <div class="user signinBx">
                
                <div class="formBx">
                    <form method="post">
                        {% csrf_token %}
                        <h2>Create an account</h2>
                        {% for field in register_form %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                                placeholder="{{ field.label }}" />
                        {% endfor %}
                        <input type="submit" value="Sign Up" />
                        <p class="signup">
                            Already have an account? <a href="/login">Sign in.</a>
                        </p>
                    </form>
                </div>
                <div class="imgBx"><img src="https://t3.ftcdn.net/jpg/05/32/59/44/240_F_532594411_5GAknDpMdA07za4Qt1QsOqbRz2SnDwLR.jpg" alt="" /></div>
            </div>
        </div>
    </section>
   
    <script src="{% static 'registration/js/script.js' %}"></script>
    {% load sweetify %}
    {% sweetify %}
</body>
</html>
